body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 16px;
}
.map {
  width: 900px;
  height: 900px;
  overflow: hidden;
  font-family: sans-serif;
}
.container {
  width: 900px;
  height: 900px;
  border: 1px solid #ddd;
  margin: 0 auto 0;
  position: relative;
}
.container .zoomer {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: #eee;
  opacity: 0.75;
  display: block;
}
.container .zoomer.active {
  background: yellowgreen;
}
.stations {
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
}
.stations ul {
  padding: 0;
  margin-left: -2px;
}
.stations li {
  list-style-type: none;
  display: inline-block;
}
.stations a {
  padding: 4px 6px;
  background: #FDECB5;
  margin: 0 4px 4px 0;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
.stations a:hover {
  background: red;
  color: #fff;
}
