body {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 16px;
}

.map {
	width: 900px;
	height: 900px;
  	overflow: hidden;
  	font-family: sans-serif;
}

.container {
  	width: 900px;
  	height: 900px;
  	border: 1px solid #ddd;
  	margin: 0 auto 0;
  	position: relative;

  	.zoomer {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 40px;
	  height: 40px;
	  background: #eee;
	  opacity: 0.75;
	  display: block;

	  &.active {
		background: yellowgreen;
	  }
  	}
}

.stations {
  ul {
	padding: 20px 0;
	margin: 0;
  }
  
  li {
	list-style-type: none;
	display: inline-block;
  }

  a {
	padding: 4px 6px;
	background: #FDECB5;
	margin: 0 4px 4px 0;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
	color: #000;

	&:hover {
	  background: red;
	  color: #fff;
	}
  }
}

